* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Times, serif;
}


body {
width: 100%;
}


/* ===== Header ===== */
header {
background-color: white;
position: sticky;
top: 0;
z-index: 999;
height: 80px;
display: flex;
align-items: center;
width: 100%;
padding: 0 6%;
border-bottom: 1.5px solid rgba(95, 95, 95, 0.1);
}


.title {
text-decoration: none;
color: black;
font-size: 25px;
}


/* ===== Navigation ===== */
nav {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
letter-spacing: 1px;
}


nav ul {
list-style: none;
display: flex;
gap: 10px;
}


nav ul li a {
color: black;
text-decoration: none;
font-size: 1.1em;
padding: 15px 25px;
border-radius: 4px;
transition: 0.2s ease;
display: block;
}


nav ul li a:hover {
background-color: rgb(233, 233, 233);
color: darkgoldenrod;
}


}
